[Desktop Entry]
Name=Notebox
Comment=Markdown notes app
Exec=/opt/notebox/start.sh
Icon=/opt/notebox/icon.png
Terminal=false
Type=Application
Categories=Utility;
